/* Untuk Tampilan Tablet */
@media all and (max-width: 1000px) {
  
  .top-wrapper h1 {
    font-size: 32px;
  }

  .daftar-jenjang {
    width: 50%;
    margin-bottom: 50px;
  }

  .heading h3 {
    font-size: 20px;
  }

}

/* Untuk Tampilan Smartphone */
@media all and (max-width: 670px) {
  
  .btn {
    width: 100%;
  }
  
  .login {
    margin-bottom: 10px;
  }
  
  .top-wrapper {
    text-align: left;
  }
  
  .header-right {
    display: none;
  }
  
  .top-wrapper h1 {
      font-size: 24px;
      line-height: 36px;
  }
  
  .top-wrapper p {
      font-size: 14px;
      line-height: 20px;
  }

  /* Dhara's Part */
  .daftar-jenjang {
    width: 100%;
  }

  .heading h2 {
    font-size: 20px;
    text-align: center;
  }


}
