/*Dian's Part*/
@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");


* {
    box-sizing: border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

a {
    text-decoration: none;
}

.clear {
    clear: left;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;

}

.top-wrapper {
    padding: 190px 0px 120px 0px;
    background-image: url(glenn-carstens-peters-npxXWgQ33ZQ-unsplash.jpg);
    background-size: cover;
    color: #ffffff;
    font-family: 'Viga', sans-serif;/*Arial, Helvetica, sans-serif;*/
    text-align: center;
}

.top-wrapper h1 {
    opacity: 0.5;
    font-size: 65px;
    letter-spacing: 5px;
    margin-bottom: 10px;
}

.top-wrapper p {
    opacity: 0.5;
    margin-bottom: 3px;
}
  
.btn-wrapper {
    text-align: center;
    margin: 20px 0;
}
  
.btn-wrapper p {
    margin: 10px 0;
}

.login {
    background-color: #e07a5f;
    margin-right: 10px;
}
  
.signup {
    background-color: #3D5A80;
}
  
.btn {
    padding: 6px 12px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    text-align: center;
}
  
.btn:hover {
    opacity: 1;
}

header {
    height: 65px;
    width: 100%;
    background-color: #3D5A80;
    opacity: 0.8;
    position :fixed;
    top: 0;
    z-index: 10;
}

.logo {
    font-family: 'Viga', sans-serif;
    color: #fffaf7;
}

.header-left {
    float: left;
    margin-top: 10px;
}
  
.header-right {
    float: right;
    margin-right: -25px;
}
  
.header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
}
  
.header-right a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

/*Dhara's Part*/
main {
    padding: 50px 100px;
}

.contents{
    height: 500px;
    margin-top: 50px;
}

.heading {
    border-bottom: 2px solid #acabb0;
    padding-bottom:15px;
    margin-bottom:50px;
}

.daftar-jenjang{
    float:left;
    width:33%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

.icon-jenjang {
    position: relative;
    border-radius:10px;
}

.icon-jenjang p{
    position: absolute;
    top: 5%;
    width: 100%;
    color: white;
    font-family: 'Viga', sans-serif;
    font-size: 25px;
}

.txt-contents {
    width: 90%;
    display: inline-block;
    margin-top: 15px;
    font-size: 15px;
    color: #b3aeb5;
}

